* {
    font-family: monospace;
}

html {
    width: calc(100vw - 1px);
    height: calc(100vh - 2px);
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.app {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
}


.mainGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 300px auto;
    grid-template-rows: 50px 50px auto;
}


.loading-wrapper {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/4;
    justify-content: center;
    align-content: center;
    background-color: white;
    z-index: 99999999;
}


.signIn-wrapper {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/4;
    justify-content: center;
    align-content: center;
    background-color: white;
    z-index: 1100;
}

.signIn-button {
    border-radius: 10px;
    background-color: gold;
    padding: 10px;
    text-decoration: none;
}

.topLeft-wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-column: 1;
    grid-row: 1;
}

.topMenu-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column: 2;
    grid-row: 1;
    justify-content: end;
    align-content: center;
}

.forgetMe-button {
    background-color: gold;
    border-radius: 3px;
    margin: 3px;
    padding: 5px;
    cursor: pointer;
}


.map-wrapper {
    grid-column: 2/3;
    grid-row: 2/4;
}

.map {
    width: 100%;
    height: 100%;
}


.left-block-wrapper {
    grid-column: 1;
    grid-row: 2;
    overflow: auto;
}

.people-search-wrapper {
    grid-column: 1;
    grid-row: 2;
}

.people-list-wrapper {
    grid-column: 1;
    grid-row: 3;
    overflow: auto;
}

.people-list-search-wrapper {
    display: grid;
    grid-column: 1;
    grid-row: 1;
    border-radius: 2px;
    margin: 2px;
}

.people-list-elements-wrapper {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    border-radius: 2px;
    margin: 2px;
    overflow: auto;
}


.ad-wrapper {
    width: 100%;
    height: 80px;
}

.leaflet-marker-icon {
    border-radius: 30px;
}

.leaflet-marker-icon-vk-friend {
    border: 3px solid lightseagreen;
}

.leaflet-marker-icon-vk-follower {
    border: 3px double gray;
}