<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GeoFriends</title>

    <!-- 3rd -->
    <link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet" />
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <!-- google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-6050760709726062", enable_page_level_ads: true }); </script>

    <!-- self -->
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/loader.css" rel="stylesheet" />

    <script defer src="js/app.js"></script>


</head>

<body>
    <div id="app" class="app">
        <div class="mainGrid">

            <div v-if="isLoading" class="loading-wrapper">
                <div class="loader">
                    <div class="duo duo1">
                        <div class="dot dot-a"></div>
                        <div class="dot dot-b"></div>
                    </div>
                    <div class="duo duo2">
                        <div class="dot dot-a"></div>
                        <div class="dot dot-b"></div>
                    </div>
                </div>
            </div>

            <div v-if="!isAuth" class="signIn-wrapper">
                <a :href="vkOAuthURI" class="signIn-button">SIGN IN VIA VK.COM</a>
            </div>

            <div class="topMenu-wrapper">
                <div id="forgetMeButton" class="forgetMe-button" @click="forgetMe">
                    <div>Forget me!</div>
                </div>
            </div>

            <div class="map-wrapper">
                <div id="map" class="map"></div>
            </div>

            <div class="peoples-block-wrapper">
                <div class="people-switch-wrapper">
                    switch
                </div>
                <div class="people-list-wrapper">
                    <div class="people-list-search-wrapper">
                        search
                    </div>
                    <div class="people-list-elements-wrapper">
                        <ul>
                            <li>111</li>
                            <li>222</li>
                            <li>333</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- <div class="ad-wrapper">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-6050760709726062"
                    data-ad-slot="8469410740" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div> -->

        </div>
    </div>
</body>

</html>