<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GeoFriends</title>

    <!-- 3rd -->
    <link href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" rel="stylesheet" />
    <link href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" rel="stylesheet">
    <link href="https://unpkg.com/element-ui@2.11.1/lib/theme-chalk/index.css" rel="stylesheet">

    <script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/vuex@3.1.1/dist/vuex.js"></script>
    <script src="https://unpkg.com/axios@0.19.0/dist/axios.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <script src="https://unpkg.com/element-ui@2.11.1/lib/index.js"></script>
    <!-- google adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script> (adsbygoogle = window.adsbygoogle || []).push({ google_ad_client: "ca-pub-6050760709726062", enable_page_level_ads: true }); </script>

    <!-- self -->
    <link href="css/normalize.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/loader.css" rel="stylesheet" />

    <script defer src="js/app.js"></script>


</head>

<body>
    <div id="app" class="app">
        <div class="mainGrid">

            <div v-if="isLoading" class="loading-wrapper">
                <div class="loader">
                    <div class="duo duo1">
                        <div class="dot dot-a"></div>
                        <div class="dot dot-b"></div>
                    </div>
                    <div class="duo duo2">
                        <div class="dot dot-a"></div>
                        <div class="dot dot-b"></div>
                    </div>
                </div>
            </div>

            <div v-if="!isAuth" class="signIn-wrapper">
                <span style="text-align: center;font-size: 72px;margin: 50px;">GEO FRIENDS</span>
                <el-button type="primary" @click="goToVKAuth">SIGN IN WITH VK.COM</el-button>
            </div>

            <div class="topLeft-wrapper">
                <span style="font-size: 30px">GEO FRIENDS</span>
            </div>

            <div class="topMenu-wrapper">
                <div style="justify-self: start">
                    <el-checkbox label="VK Friends" border v-model="$store.state.displayFriendsVK"> </el-checkbox>
                    <el-checkbox label="VK Followers" border v-model="$store.state.displayFollowersVK"> </el-checkbox>
                </div>
                <el-button style="justify-self: end" type="info" @click="forgetMe">FORGET ME!</el-button>
            </div>

            <div class="map-wrapper">
                <div id="map" class="map"></div>
            </div>

            <!-- <div class="left-block-wrapper"> -->
            <div class="people-search-wrapper">
                <el-input placeholder="Start search person" v-model="$store.state.peopleFilter" clearable>
                </el-input>
            </div>
            <div class="people-list-wrapper">
                <div>
                    <el-menu>
                        <el-menu-item v-for="person in filteredPeople" :key="person.id"
                            @click="goToCityId(person.cityId)">
                            <img :src="person.photoUri" style="width: 50px; height: 50px;">
                            <span>{{ person.lastName }} {{ person.firstName }}</span>
                        </el-menu-item>
                    </el-menu>
                </div>
            </div>
            <!-- </div> -->

        </div>
    </div>
    <div class="ad-wrapper">
        <p style="text-align: center;font-size: 25px;color: gray;">google ADs here</p>
    </div>
</body>

</html>